@use "./base" as *;

.about__section {
  background-color: var(--background-darkgrey);
  position: relative;

  & article p {
    padding-top: 0;
    margin-bottom: 3rem;
  }
  & article {
    z-index: 0;
  }
}

.about__picture {
  grid-column: 5 / 7;
  grid-row: 1 / 4;
  margin-top: 7rem;
  & img {
    width: 100%;
  }
}
