:root {
  --color-primary: #eb038d;
  --background-primary: #111, #222222, #222222, #222222, #111;
  --background-secondary: #222222, #444444, #444444, #444444, #222222;
  --background-black: #100f0d;
  --background-darkgrey: #2d2d2d;
  --color-white: #ffffff;
  --color-pink: #ff5c6c;
  --color-purple: #9c00ff;
  --color-blue: #00d2ff;
  --color-green: #00ff99;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}
// RESPONSIVE BREAKPOINTS
$bp-ultrawide: 125em; // 2000px
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

$box-shadow: 3px 3px 10px 1px var(--color-primary);

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 Rem = 10px 10px/16px = 62,5
  // font-family: "Josefin Sans", sans-serif;
  font-family: "Jockey One", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

///////////////Helpers/////////
.mt-small {
  margin-top: 2rem;
}
.mt-medium {
  margin-top: 10rem;
}
.mt-large {
  margin-top: 15rem;
}

/////
///

///////////////IconMoon/////////////
@font-face {
  font-family: "icomoon";
  src: url("/src/fonts/icomoon.eot?hklugz");
  src: url("/src/fonts/icomoon.eot?hklugz#iefix") format("embedded-opentype"),
    url("/src/fonts/icomoon.ttf?hklugz") format("truetype"),
    url("/src/fonts/icomoon.woff?hklugz") format("woff"),
    url("/src/fonts/icomoon.svg?hklugz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-external-link:before {
  content: "\f08e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}

/////////////////Animation////////////////////
///

@keyframes expandVertical {
  from {
    height: 0;
  }
  to {
    height: 24vw;
    @media (max-width: $bp-medium) {
      height: 46vw;
    }
  }
}
@keyframes expandHorizontal {
  from {
    width: 0;
  }
  to {
    width: 38vw;
    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }
  }
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
@keyframes scale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes verticalLine {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes horizontalLine {
  from {
    width: 0;
  }
  to {
    width: calc(100% + 10rem);
  }
}

@keyframes slideIn-right {
  0% {
    transform: translateX(150%);
  }

  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideIn-left {
  0% {
    transform: translateX(-150%);
  }

  80% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}
