@use "./base" as *;
.contact {
  &__section {
    background: linear-gradient(to bottom, var(--background-primary));
  }

  &__form {
    grid-column: 3 / 7;

    padding: 5rem;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: var(--background-darkgrey);
    margin-top: 5rem;
    margin-bottom: 8rem;
    @media only screen and (max-width: $bp-ultrawide) {
      grid-column: 2 / 8;
    }
    @media only screen and (max-width: $bp-large) {
      padding: 2rem;
    }
    & h3 {
      margin: 1rem 0;
    }
    & p {
      margin: 1rem 0;
    }

    & button.btn {
      font-family: Jockey One, sans-serif;
      background-color: transparent;

      z-index: 0;
    }
  }
  &__img {
    @media only screen and (max-width: $bp-large) {
      width: 30%;
    }
    @media only screen and (max-width: $bp-medium) {
      position: absolute;
      right: 0;
      top: -15vw;
    }
    & img {
      width: 100%;
    }
  }
}
