@use "./base" as *;

///////////////Buttons ///////////////
.btn {
  color: var(--color-white);
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  border: var(--color-primary) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0deg 0% 100% / 0.3),
    0 0 0.25em var(--color-primary);
  box-shadow: inset 0 0 0.5em 0 var(--color-primary),
    0 0 0.5em 0 var(--color-primary);
  position: relative;
  @media only screen and (max-width: $bp-large) {
    font-size: 15px;
  }
  @media only screen and (max-width: $bp-small) {
    padding: 0.2em 0.5em;
  }

  &::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--color-primary);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  &:hover,
  &:focus {
    color: var(--color-black);
    text-shadow: none;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--color-primary);
    box-shadow: 0 0 2em 0.5em var(--color-primary);
    transition: opacity 100ms linear;
  }
  &:hover::after,
  &:hover::before,
  &:focus::after,
  &:focus::before {
    opacity: 1;
  }
}

.vertical__line {
  position: absolute;

  background-color: var(--color-white);
  width: 2px;
  height: 0;

  border-radius: 5px;
  animation: verticalLine 2s ease-in-out forwards;

  &-left {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    @media only screen and (max-width: $bp-largest) {
      left: -2rem;
    }

    &-2 {
      grid-row: 4 / 5;
      grid-column: 2 /3;
    }
  }
  &-right {
    grid-column: 8 / 9;
    grid-row: 3 / 4;

    @media only screen and (max-width: $bp-large) {
      bottom: -8rem;
    }
  }
  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.horizontal__line {
  background-color: var(--color-white);
  height: 2px;
  width: 0;
  // width: calc(100% + 10rem);

  position: absolute;
  animation: horizontalLine 2s ease-in-out forwards;

  &-left {
    grid-column: 2 / 8;
    grid-row: 3 / 4;

    right: 0;
    @media only screen and (max-width: $bp-largest) {
      grid-column: 2 / 8;
    }
    &-2 {
      grid-row: 5/ 6;
      grid-column: 2 / 8;

      right: -10rem;
    }
  }
  &-right {
    grid-column: 2 / 8;
    grid-row: 3 / 4;
    bottom: -2vw;
    right: -10rem;
  }

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.article p.active,
.sertificate__card.active,
.projects__card.active,
.services-card.active {
  transform: translateX(0%);
  opacity: 1;
}

.form {
  width: 45%;
  min-width: 45%;
  @media only screen and (max-width: $bp-large) {
    width: 70%;
  }
  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: var(--color-grey-light-1);
    border: none;
    font-family: Josefin Sans, sans-serif;
    border-bottom: 3px solid transparent;
    width: 100%;

    display: block;
    color: var(--color-black);
    transition: all 0.3;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid var(--color-primary);
    }
    &:focus:invalid {
      border-bottom: 3px solid red;
    }
    &::placeholder {
      color: var(--color-black);
    }
  }
  &__textarea {
    font-family: Josefin Sans, sans-serif;
    display: block;
    color: var(--color-black);
    width: 100%;
    max-width: 100%;
    padding: 1.5rem 2rem;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid var(--color-primary);
    }

    &::placeholder {
      color: var(--color-black);
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-white);
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__textarea:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
// Cookie banner

#cookie-banner {
  margin: 2rem;
  position: fixed;
  bottom: 1rem;

  right: 1rem;
  width: 30%;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 10px;
  display: none;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Ensures the banner is on top of other elements */
  @media only screen and (max-width: $bp-medium) {
    left: 1rem;
    width: auto;
  }
  & .btn-cookie {
    color: var(--color-white);
    background-color: black;
    text-shadow: none;
    box-shadow: none;

    &:hover {
      color: var(--color-black);
      background-color: var(--color-white);
    }
  }
}
/////
///
:root {
  --glow-rgb: 239 42 201;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
  pointer-events: none;
}

.star {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg)
      scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg)
      rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg)
      rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg)
      scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg)
      scale(0.5);
    opacity: 0;
  }
}
