@use "./base" as *;

.heading-section {
  background-color: var(--background-black);

  min-height: 100vh;
}
.heading {
  grid-column: 1 / span 4;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 5vw;

  & h1 {
    width: 27vw;

    position: relative;
    &::before {
      content: "";
      width: 2px;
      background-color: var(--color-white);
      height: 24vw;
      position: absolute;
      left: -2vw;
      top: -2vw;
      border-radius: 5px;
      animation: expandVertical 2s ease-in-out;
    }
    &::after {
      content: "";
      width: 38vw;
      background-color: var(--color-white);
      height: 2px;
      position: absolute;
      left: -7vw;
      bottom: -1vw;
      border-radius: 5px;
      animation: expandHorizontal 2s ease-in-out;
    }
  }
  &__typewriter {
    color: var(--color-primary);
  }
  &__image {
    grid-column: 5 / -1;
    z-index: 3;
    & img {
      width: 100%;
    }
  }
  &__cursor {
    color: var(--color-primary);
    animation: blink 1s linear infinite;
  }
}

.social-icons {
  color: var(--color-grey-dark-2);
  position: absolute;
  left: 3rem;
  bottom: -16rem;
  font-size: 50px;

  & span {
    transition: all 0.3s;
    &:hover {
      color: white;
    }
  }
}
