@use "./base" as *;

.heading-section {
  background: linear-gradient(to bottom, var(--background-primary));
  position: relative;
  min-height: 100vh;
}
.heading {
  grid-column: 1 / span 4;
  margin-inline: auto;
  margin-top: 5vw;
  padding-top: 10vh;

  & h1 {
    width: 29vw;

    position: relative;
    &::before {
      content: "";
      width: 2px;
      background-color: var(--color-white);
      height: 24vw;
      position: absolute;
      left: -2vw;
      top: -2vw;
      border-radius: 5px;
      animation: expandVertical 2s ease-in-out;
    }
    &::after {
      content: "";
      width: 38vw;
      background-color: var(--color-white);
      height: 2px;
      position: absolute;
      left: -7vw;
      bottom: -1vw;
      border-radius: 5px;
      animation: expandHorizontal 2s ease-in-out;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 8.5vw;
      width: 75vw;
      &::before {
        height: 46vw;
      }
      &::after {
        width: 100%;
      }
    }
  }
  &__typewriter {
    color: var(--color-primary);
  }
  &__image {
    grid-column: 5 / -1;
    padding-top: 10vh;
    z-index: 3;
    & img {
      width: 100%;
    }
    @media only screen and (max-width: $bp-medium) {
      padding-top: 0;
      grid-column: 2 / 8;
    }
  }
  &__cursor {
    color: var(--color-primary);
    animation: blink 1s linear infinite;
  }
  @media only screen and (max-width: $bp-medium) {
    grid-column: 2 / 7;
  }
}

.social-icons {
  color: var(--color-grey-dark-2);
  display: flex;
  font-size: clamp(5rem, 5vw, 6rem);
  margin-top: 4rem;
  gap: 3rem;

  & span {
    transition: all 0.3s;
    &:hover {
      color: white;
    }
  }
  @media only screen and (max-width: $bp-largest) {
    margin-top: 2rem;
    justify-content: center;
  }
}
