@use "./base" as *;

.sertificate-section {
  background: linear-gradient(to bottom, var(--background-secondary));
  row-gap: 0;

  & h3 {
    grid-column: 4 / 6;
    text-align: center;
    margin-top: 4rem;
  }
  & .article {
    @media only screen and (max-width: $bp-largest) {
      grid-column: 2 / 8;
    }
  }
}

.article {
  & p {
    padding-top: 10rem;

    transform: translateX(-300%);
    transition: all 1s ease-in-out;
    @media only screen and (max-width: $bp-largest) {
      padding-top: 4rem;
    }
    @media only screen and (max-width: $bp-small) {
      padding-top: 2rem;
    }
  }
  &__left {
    grid-column: 3 / span 2;
    padding-right: 5rem;
    @media only screen and (max-width: $bp-largest) {
      grid-column: 2 / span 3;
    }
    @media only screen and (max-width: $bp-medium) {
      padding-right: 0;
    }
    @media only screen and (max-width: $bp-small) {
      grid-column: 2 / 8;
    }
  }
  &__right {
    grid-column: span 2;
    @media only screen and (max-width: $bp-largest) {
      grid-column: span 3;
    }
    @media only screen and (max-width: $bp-medium) {
      grid-column: 2 / 8;
    }
  }
}
.sertificate {
  grid-column: 2 / 8;
  display: grid;

  grid-auto-flow: column;
  grid-auto-columns: 19vw;
  gap: 4rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-snap-align: start;
  scroll-padding-inline: 2rem;
  margin: 13rem 1rem;
  padding: 3rem;

  // display: flex;
  // justify-content: center;
  // gap: 4.8rem;
  // overflow-x: scroll;
  // flex-wrap: nowrap;
  // width: 100rem;
  @media only screen and (max-width: $bp-large) {
    grid-auto-columns: 27vw;
  }
  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
    grid-auto-columns: 35vw;
  }
  @media only screen and (max-width: $bp-small) {
    grid-auto-columns: 52vw;
  }

  &__card {
    &__img {
      width: 100%;
      position: absolute;
      left: 1rem;
      opacity: 60%;
      top: -15%;
      z-index: -1;
      & img {
        width: 100%;
      }
    }

    padding: 2rem;
    background: linear-gradient(to bottom, var(--background-primary));

    transform: translateY(-200%);
    opacity: 0;
    transition: all 1s ease-in-out;
    height: auto;
    /* Use a gradient background instead of background-image */
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-large) {
      // width: 100%;
    }

    & ul {
      padding-top: 3rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      color: var(--color-white);
      font-size: 1.5rem;
      @media only screen and (max-width: $bp-small) {
        margin-bottom: 2rem;
        margin-left: 1rem;
        padding-top: 1rem;
        font-size: 1.5rem;
      }
    }

    & .btn-sertificate {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      box-shadow: none;
      align-items: center;

      @media only screen and (max-width: $bp-large) {
        margin-top: 2rem;
      }
      @media only screen and (max-width: $bp-small) {
        margin-top: 2rem;
        width: 80%;
      }
      &:first-of-type {
        margin-top: auto;
      }
      &::before {
        width: 0;
      }
      &::after {
        background-color: var(--color-white);
        box-shadow: 0 0 2em 0 var(--color-primary);
      }
    }
  }
}
