@use "./base" as *;

.skill-section {
  grid-column: 1 /-1;

  background-color: var(--background-darkgrey);

  width: 100%;
  position: relative;
}

.cards-container {
  grid-column: 3 / span 4;
  pointer-events: none;

  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: left 0.5s ease-in-out;
}

.card {
  background-color: #0d0d0da6;
  width: 45%;
  padding: 1rem 6rem;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  margin-bottom: 10vh;
  &__skills {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 4.5rem;
    transition: opacity 2s;

    &__skill {
      width: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      filter: grayscale(100%);

      & img {
        width: 100%;
      }

      &--active {
        filter: grayscale(0);
        transition: filter 1s;
        animation: scale 1s ease-in forwards;
      }
    }

    &--hidden {
      opacity: 0;
    }
  }
}

#particles {
  position: absolute;
  inset: 0;
  background-color: var(--background-darkgrey);
}
