@use "./base" as *;

.skill-section {
  grid-column: 1 /-1;

  background-color: var(--background-darkgrey);

  width: 100%;
  position: relative;
}

.cards-container {
  grid-column: 3 / span 4;
  height: 55rem;
  margin-top: 10rem;
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.card {
  background: #00000040;
  width: 45%;
  padding: 1rem 6rem;
  box-shadow: 0 -1px 13px 0 var(--color-primary);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 5rem;
}

#particles {
  position: absolute;
  inset: 0;
  background-color: var(--background-darkgrey);
}
