:root {
  --color-primary: #eb038d;
  --background-black: #100f0d;
  --background-darkgrey: #2d2d2d;
  --color-white: #ffffff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: var(--background-black);
  height: 100vh;
}

.navbar {
  grid-column: 1/-1;
  height: 100px;
  background-color: var(--background-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-grey-light-1);
}
.navbar__logo {
  padding-left: 5rem;
  font-size: 26px;
  text-decoration: none;
  color: var(--color-grey-light-1);
}
.navbar__right {
  padding-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.navbar__links li {
  list-style: none;
}
.navbar__links li a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-grey-light-4);
  font-weight: 500;
  letter-spacing: 0.3px;
  position: relative;
}
.navbar__links li a::before {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 10px;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  bottom: -3px;
}
.navbar__links li a:hover {
  color: var(--color-grey-light-1);
}
.navbar__links li a:hover::before {
  width: 100%;
  transition: all 0.3s;
}
