:root {
  --color-primary: #eb038d;
  --background-black: #100f0d;
  --background-darkgrey: #2d2d2d;
  --color-white: #ffffff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: var(--background-black);
}

@keyframes expandVertical {
  from {
    height: 0;
  }
  to {
    height: 200%;
  }
}
@keyframes expandHorizontal {
  from {
    width: 0;
  }
  to {
    width: 150%;
  }
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
.heading {
  grid-column: 1/span 4;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 5vw;
}
.heading h1 {
  position: relative;
}
.heading h1::before {
  content: "";
  width: 6px;
  background-color: var(--color-white);
  height: 200%;
  position: absolute;
  left: -4rem;
  top: -6rem;
  border-radius: 5px;
  animation: expandVertical 2s ease-in-out;
}
.heading h1::after {
  content: "";
  width: 150%;
  background-color: var(--color-white);
  height: 6px;
  position: absolute;
  left: -14rem;
  bottom: -4rem;
  border-radius: 5px;
  animation: expandHorizontal 2s ease-in-out;
}
.heading__image {
  grid-column: 5/-1;
  z-index: 3;
}
.heading__image img {
  width: 100%;
}
.heading__cursor {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: var(--color-primary);
  animation: blink 1s linear infinite;
}

.navbar {
  grid-column: 1/-1;
  background-color: var(--background-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-grey-light-1);
}
.navbar__logo {
  margin-left: 5rem;
  font-family: "Jockey One", sans-serif;
  list-style: none;
  text-decoration: none;
  font-size: 44px;
  color: var(--color-white);
  position: relative;
}
.navbar__logo::before {
  content: "";
  width: 0;
  height: 5px;
  border-radius: 2px;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  bottom: 6px;
}
.navbar__logo:hover::before {
  width: 120%;
  transition: all 0.3s;
}
.navbar__logo::first-letter {
  color: var(--color-primary);
  font-size: 60px;
}
.navbar__right {
  padding-right: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
.navbar__links li {
  list-style: none;
}
.navbar__links li a {
  text-decoration: none;
  font-family: "Jockey One", sans-serif;
  font-size: 24px;
  text-transform: capitalize;
  color: var(--color-grey-light-4);
  letter-spacing: 0.3px;
  position: relative;
}
.navbar__links li a::before {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 10px;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  bottom: -3px;
}
.navbar__links li a:hover {
  padding: 2px 6px;
  border-radius: 5px;
  color: var(--color-grey-light-1);
  background-color: rgba(245, 245, 245, 0.1);
  transition: all 0.3s;
}
.navbar__links li a:hover::before {
  width: 100%;
  transition: all 0.3s;
}

.skill-section {
  grid-column: 1/-1;
  height: 80vh;
  background-color: var(--background-darkgrey);
  margin-top: -5vw;
}

h1 {
  font-family: "Jockey One", sans-serif;
  color: var(--color-white);
  line-height: 1.1;
  font-size: 60px;
}
